.navbar{
    background-color: rgb(96, 95, 95);
}
/* .flowers{
    margin: 2em;
    height: 700px;
    width: 100px;
    margin-bottom: auto;
    margin-left: auto;
} */
.btn{
    margin-bottom: auto;
}